In [1]:
import pandas as pd
water = pd.read_csv('water.txt', sep='\t')

In [2]:
water[['mortality', 'hardness']].corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [3]:
water[['mortality', 'hardness']].corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [4]:
water[['mortality', 'hardness']][water.location == 'South'].corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [5]:
water[['mortality', 'hardness']][water.location == 'North'].corr(method = 'pearson')

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [6]:
round(0.368598, 4)

0.3686

4. Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин. Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары

In [7]:
a = 239
b = 203
c = 515
d = 718

In [8]:
mcc = (a*d - b*c) / ((a+b)*(a+c)*(b+d)*(c+d))**0.5

In [9]:
mcc

0.10900237458678963

5. В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры

In [10]:
import numpy as np

In [11]:
obs = np.array([[a, b],[c, d]])

In [12]:
obs

array([[239, 203],
       [515, 718]])

In [13]:
from scipy.stats import chi2_contingency
chi2, p, dof, ex = chi2_contingency(obs)

In [14]:
p

1.0558987006638725e-05

6. В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница?

In [15]:
w_d = (b+d) / (a+b+c+d)
m_d = (a+c) / (a+b+c+d)

In [16]:
import scipy

In [17]:
z = scipy.stats.norm.ppf(1 - 0.05 / 2.)

In [18]:
z

1.959963984540054

In [19]:
left_boundary = (w_d - m_d) / 2 - z *  np.sqrt(float((w_d + m_d)) / 2**2 - float((w_d - m_d)**2) / 2**3)

In [20]:
right_boundary = (w_d - m_d) / 2 + z *  np.sqrt(float((w_d + m_d)) / 2**2 - float((w_d - m_d)**2) / 2**3)

In [21]:
left_boundary, right_boundary

(-0.9276928622027689, 1.0273943547400823)

In [22]:
round(left_boundary, 4)

-0.9277

7. Проверьте гипотезу о равенстве долей любителей часто проводить вечера в баре среди мужчин и женщин. Посчитайте достигаемый уровень значимости, используя двустороннюю альтернативу

In [23]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [24]:
proportions_diff_z_test(z, alternative = 'two-sided')

0.050000000000000044

8. Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [25]:
import math
import numpy as np
# Functions for calculating the degree of association between nominal variables

def cramersV(nrows, ncols, chisquared):
    nobs = nrows*ncols
    phi = chisquared/nobs
    V = math.sqrt((phi**2)/(min(nrows-1, ncols-1)))
    return np.array([V, phi])

def tshuprowsT(nrows, ncols, chiquared, correct_bias=True):
    nobs = nrows*ncols
    phi = chisquared/nobs
    T = math.sqrt((phi**2)/math.sqrt((nrows-1)*(ncols-1)))
    return np.array([T, phi])

In [26]:
from scipy.stats import chisquare
obs = np.array([[197,111,33], [382,685,331], [110,342,333]])

In [27]:
chi2, p, dof, ex = chi2_contingency(obs)

In [28]:
round(chi2, 4)

293.6831

9. значение достигаемого уровня значимости.

In [29]:
p

2.4964299580093467e-62

10. Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков?

In [30]:

n = sum([sum(l) for l in obs])
v_cramer = np.sqrt(chi2/(n*2))
round(v_cramer, 4)

0.2412